[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = ">=4.3"
aioworkers = ">=0.20"

[dev-packages]
pytest-aioworkers = "*"
pytest-cov = "*"
pytest-sugar = "*"
pyyaml = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.6"
