[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = ">=1.3"
aioworkers = ">=0.14.3"

[dev-packages]
pytest-aioworkers = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-sugar = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
